/*
 * Static: Default positioning
 */
/* table {
	position: relative;
	font-weight: bold;
	text-size-adjust: 10px;

} */
#resultsTable {
    display: none;
}
#resultsTable1 {
    display: none;
}
 
 html,body {
	height: 100%;
	/* background-color: coral; */
}
.bg-image {
	/* .img { */
	  /* The image used */
	  /* background-image: url("PICS/lots-dishes.jpg"); */
	  /* background:#fff url("PICS/lots-dishes.jpg") 2px center no-repeat; */
	
	  /* Add the blur effect */
	  /* filter: blur(8px);
	  -webkit-filter: blur(2px); */
	
	  /* Full height*/
	  /* height: 100%; */
	  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("PICS/lots-dishes.jpg"); */
  
	/* Set a specific height */
	  height: 20%;
	
	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
	}

body,p,td,div,span,input,th,li,textarea{font-family:arial,helvetica,sans-serif;font-size:16px;color:#000;}
/* body{background:#fff;margin:0px;padding:0px;border:0;text-align: center;} */

p{margin:5px 0 8px 0;}
img{border:0px;}
h1{color:#003366;font-size:26px;font-weight:bold;padding:0;margin:12px 0;}
#resulth1{background-color:#ffefe7;padding:0px 5px 0px 5px;border-top:#930 1px dotted;}
h2{font-size:22px;font-weight:bold;color:#003366;padding:0; margin-bottom: 2px;}
h3{font-size:19px;font-weight:bold;}
hr{border:0;color:#aaa;background-color:#aaa;height:1px;}
a{color:#069;text-decoration:underline;}
a:hover{text-decoration:none;}

input{padding: 5px;color:#000;}
select{padding: 4px;color:#000;}
option{font-size:16px;}
input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email], select {
	border: 1px solid #044284;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #666;
	font-size:16px;
}
input[type=text]:focus,
input[type=number]:focus,
input[type=color]:focus, select:focus {
	border: 2px solid #993300;
	box-shadow: 1px 1px 2px #ba673d;
	font-size:16px;
}
input[type=submit],
input[type=reset],
input[type=button] {
	border: 1px solid #417516;
	border-radius: 2px;
	box-shadow: 1px 1px 2px #666;
	background:#417516;
	color:#fff;
	padding: 6px;
	font-size:16px;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
	border: 1px solid #444;
	box-shadow: 1px 1px 2px #ba673d;
	background:#444;
	color:#fff;
	font-size:16px;
}
input[type=image],input[type=image]:hover,input[type=image]:focus{
	background:#518428;
	color:#fff;
	font-weight:bold;
	font-size:26px;
	padding: 0px;
	margin:0px;
	font-size:16px;
}

/* .indollar{
	background:#fff url(/img/svg/dollar.svg) 2px center no-repeat;
	padding-left: 11px;
}
.inpct{
	background:#fff url(/img/svg/pct.svg) 2px center no-repeat;
	padding-right: 11px;
} */

.bigtext{font-size:18px;}
/* 
table.cinfoT{
	color:#000;
	background-color:#fafafa;
	border:1px #666 solid;
	border-collapse:collapse;
	border-spacing:0;
	margin-top:0;
}
table.cinfoT td.cinfoHd{
	border-bottom:3px solid #666;
	background-color:#E0F0FE;
	font-weight:bold;
	color:#000;
	padding:3px;
}
table.cinfoT td.cinfoHdL{
	border-bottom:3px solid #666;
	background-color:#E0F0FE;
	font-weight:bold;
	color:#000;
	padding:3px;
}
table.cinfoT td{border:1px solid #666;color:#000;padding:3px;}
table.cinfoT tr:nth-child(odd) {background-color: #eee;}
table.cinfoT tr:nth-child(even) {background-color: #fff;}
table.cinfoTS td.cinfoHd{font-size:13px;}
table.cinfoTS td.cinfoHdL{font-size:13px;}
table.cinfoTS td{font-size:13px;padding:3px 1px;} */

.panel{
	background:#eee;
	border: solid 1px #bbbbbb;
	padding: 5px;
}

/* .h2result{
  background:#518428;
  color:#fff;
  border:1px solid #518428;
  padding: 5px;
  margin-top:3px;
  font-size:22px;
  font-weight: normal;
} */
