/*
 * Static: Default positioning
 */
/* table {
	position: relative;
	font-weight: bold;
	text-size-adjust: 10px;

} */
#dilogoverlay{
	display: none;
	opacity: .8;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 10;
}
#dialogbox{
	display: none;
	position: fixed;
	background: #000;
	border-radius: 7px;
	width: 550px;
	z-index: 10;
}
#dialogbox > div{
	background: #FFF;
	margin: 8PX;
}
#dialoguebox > div> #dialogboxhead {
	background: #666;
	font-size: 19px;
	padding: 10px;
	color: #CCC;
}
#dialoguebox > div> #dialogboxbody {
	background: #333;
	padding: 20px;
	color: #FFF;
}
#dialoguebox > div> #dialogboxfooter {
	background: #666;
	padding: 10px;
	text-align: right;
}
#resultsTable {
    display: none;
}
#resultsTable1 {
    display: none;
}
 
 html,body {
	height: 100%;
	/* background-color: coral; */
}
 .bg-image {
	/* .img { */
	  /* The image used */
	  /* background-image: url("PICS/lots-dishes.jpg"); */
	  /* background:#fff url("PICS/lots-dishes.jpg") 2px center no-repeat; */
	
	  /* Add the blur effect */
	  /* filter: blur(8px);
	  -webkit-filter: blur(2px); */
	
	  /* Full height*/
	  /* height: 100%; */
	  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("PICS/lots-dishes.jpg"); */
  
	/* Set a specific height */
	  height: 20%;
	
	  /* Center and scale the image nicely */
	  background-position: center;
	  background-repeat: no-repeat;
	  background-size: cover;
	  position: relative;
	}
 html,body {
	height: 100%;
	/* background-color: coral; */
}
 #img{
	position: relative;
	/* top:	-15px; */
	bottom: -30;
	}

 p::after { 
	content: " - Remember this";
	background-color: yellow;
	color: red;
	font-weight: bold;
  }
  p::before {
	content: "Read this -";
  }

.box-set {
  position: relative;
  height: 400px;
  background: darkgray;
}

.box {
  width: 150px;
  height: 150px;
  background: #2db34a;
  border: 2px solid black;
}

.borderbox{
 border-style:solid;
 border-color:#287EC7;
 border: 1px solid green;
}


body,td,div,span,input{font-family:arial,helvetica,sans-serif;font-size:16px;color:#000;}

img{border:0px;}
h1{color:#003366;font-size:26px;font-weight:bold;padding:0;margin:12px 0;}
#resulth1{background-color:#ffefe7;padding:0px 5px 0px 5px;border-top:#930 1px dotted;}
h2{font-size:22px;font-weight:bold;color:#003366;padding:0; margin-bottom: 2px;}
a:hover{text-decoration:none;}

input{padding: 5px;color:#000;}
select{padding: 4px;color:#000;}
option{font-size:16px;}
input[type=text],
/* input[type=url], */
/* input[type=tel], */
input[type=number],
/* input[type=color], */
/* input[type=email],  */
select {
	/* border: 1px solid #044284; */
	/* border-radius: 2px; */
	/* box-shadow: 1px 1px 2px #666; */
	font-size:16px;
}
input[type=text]:focus,
input[type=url]:focus,
input[type=tel]:focus,
input[type=number]:focus,
input[type=color]:focus,
input[type=email]:focus, select:focus {
	border: 2px solid #993300;
	box-shadow: 1px 1px 2px #ba673d;
	font-size:16px;
}
input[type=submit],
input[type=reset],
input[type=button] {
	border: 1px solid #0c0c0b;
	border-radius: 2px;
	/* box-shadow: 1px 1px 2px #666; */
	background:#1e08dd;
	color:#fff;
	padding: 6px;
	font-size:16px;
	border-radius: 5px;
}
input[type=submit]:hover,
input[type=reset]:hover,
input[type=button]:hover {
	border: 1px solid #444;
	box-shadow: 1px 1px 2px #ba673d;
	background:#444;
	color:#fff;
	font-size:16px;
}
/* input[type=image],input[type=image]:hover,input[type=image]:focus{
	background:#518428;
	color:#fff;
	font-weight:bold;
	font-size:26px;
	padding: 0px;
	margin:0px;
	font-size:16px; */
/* } */
.clearbtn{cursor: pointer;}
/* ********************************************************* */
.inputErrMsg{
	position: absolute;
	padding:4px 8px;
	color: #000;
	background-color: #ffcccc;
	border: 1px solid #ffaaaa;
	white-space: nowrap;
	display:inline-block;}

.bigtext{font-size:18px;}
.verybigtext{font-size:23px;}
.morelinespace{line-height:125%}
.inlinetable{display: inline;}
.compacttable {border-spacing: 0px;}
.compacttable td{padding: 0px;}
.compacttable table{border-spacing: 0px;}
.compacttable table td{padding: 0px;}
table.cinfoT{color:#000;background-color:#fafafa;border:1px #666 solid;border-collapse:collapse;border-spacing:0;margin-top:0;}
table.cinfoT td.cinfoHd{border-bottom:3px solid #666;background-color:#E0F0FE;font-weight:bold;color:#000;padding:3px;}
table.cinfoT td.cinfoHdL{border-bottom:3px solid #666;background-color:#E0F0FE;font-weight:bold;color:#000;padding:3px;}
table.cinfoT td{border:1px solid #666;color:#000;padding:3px;}
table.cinfoT tr:nth-child(odd) {background-color: #eee;}
table.cinfoT tr:nth-child(even) {background-color: #fff;}
table.cinfoTS td.cinfoHd{font-size:13px;}
table.cinfoTS td.cinfoHdL{font-size:13px;}
table.cinfoTS td{font-size:13px;padding:3px 1px;}

#submitbtn input, #submitbtn button{
	border-radius: 3px;
	background:#417516;
	padding: 5px 8px;
	font-size:18px;
	color:#fff;
}
#submitbtn input:hover, #submitbtn button:hover{
	background:#444;
	color:#fff;
}

.panel{
	background:rgb(173, 159, 159);
	border: solid 1px #0c0b0b;
	padding: 5px;
}